In [9]:
# creating an empty list
lst = []

# number of elements as input
n = int(input("Enter number of friends coming : "))

# iterating till the range
for i in range(n):
    ele = input("Enter name of friends coming : ")
    # adding the element
    lst.append(ele) 
    
for n in lst:
    print(f'Hi {n}!, see you later alligator!')

Enter number of friends coming : 4
Enter name of friends coming : trica
Enter name of friends coming : hontee
Enter name of friends coming : rorenzel
Enter name of friends coming : lithoong
Hi trica!, see you later alligator!
Hi hontee!, see you later alligator!
Hi rorenzel!, see you later alligator!
Hi lithoong!, see you later alligator!

In [11]:
n=6

current_sum = 0

for i in range(n+1): 
    
    current_sum += i #6 + 5 + 4 + 3 + 2 + 1
    
print(current_sum)

21

In [43]:
#Collatz 3n+1 sequence

n = int(input("Enter number "))

sequence = [n]

print("n \t output so far \n-- \t -------------") #creating the first 2 rows

while n != 1:
    
    print(f"{n}\t{', '.join(map(str, sequence))}") #print sequence, tab, seive out elements in current list
    
    if n % 2 == 0:
        n = n // 2 
    else:
        n=n*3+1 
    
    sequence.append(n)

print(f"{n}\t{', '.join(map(str, sequence))}")

Enter number 144
n 	 output so far
-- 	 -------------
144	144
72	144, 72
36	144, 72, 36
18	144, 72, 36, 18
9	144, 72, 36, 18, 9
28	144, 72, 36, 18, 9, 28
14	144, 72, 36, 18, 9, 28, 14
7	144, 72, 36, 18, 9, 28, 14, 7
22	144, 72, 36, 18, 9, 28, 14, 7, 22
11	144, 72, 36, 18, 9, 28, 14, 7, 22, 11
34	144, 72, 36, 18, 9, 28, 14, 7, 22, 11, 34
17	144, 72, 36, 18, 9, 28, 14, 7, 22, 11, 34, 17
52	144, 72, 36, 18, 9, 28, 14, 7, 22, 11, 34, 17, 52
26	144, 72, 36, 18, 9, 28, 14, 7, 22, 11, 34, 17, 52, 26
13	144, 72, 36, 18, 9, 28, 14, 7, 22, 11, 34, 17, 52, 26, 13
40	144, 72, 36, 18, 9, 28, 14, 7, 22, 11, 34, 17, 52, 26, 13, 40
20	144, 72, 36, 18, 9, 28, 14, 7, 22, 11, 34, 17, 52, 26, 13, 40, 20
10	144, 72, 36, 18, 9, 28, 14, 7, 22, 11, 34, 17, 52, 26, 13, 40, 20, 10
5	144, 72, 36, 18, 9, 28, 14, 7, 22, 11, 34, 17, 52, 26, 13, 40, 20, 10, 5
16	144, 72, 36, 18, 9, 28, 14, 7, 22, 11, 34, 17, 52, 26, 13, 40, 20, 10, 5, 16
8	144, 72, 36, 18, 9, 28, 14, 7, 22, 11, 34, 17, 52, 26, 13, 40, 20, 10, 5, 16, 8
4	144, 72, 36, 18, 9, 28, 14, 7, 22, 11, 34, 17, 52, 26, 13, 40, 20, 10, 5, 16, 8, 4
2	144, 72, 36, 18, 9, 28, 14, 7, 22, 11, 34, 17, 52, 26, 13, 40, 20, 10, 5, 16, 8, 4, 2
1	144, 72, 36, 18, 9, 28, 14, 7, 22, 11, 34, 17, 52, 26, 13, 40, 20, 10, 5, 16, 8, 4, 2, 1

In [39]:
n = 3029 
count = 0 

while n != 0:
    count = count + 1
    n = n // 10 
print(count)

4

0