<div style="text-align:left;font-size:2em"><span style="font-weight:bolder;font-size:1.25em">SP2273 | Learning Portfolio</span><br><br><span style="font-weight:bold;color:darkred">Loops (Need) Exercises</span></div>

In [7]:
temperatures_celsius = [
    0, 5, 10, 15, 20, 25,
    30, 35, 40, 45, 50
]

for i in temperatures_celsius:
    
    t = i * 1.4 + 32
    print(t)

32.0
39.0
46.0
53.0
60.0
67.0
74.0
81.0
88.0
95.0
102.0

In [14]:
for letter in ['A', 'B', 'C']:
    for number in [1, 2, 3]:
        print(f'{letter}{number}', end ='\t')
    print('\n')

A1	A2	A3

B1	B2	B3

C1	C2	C3

In [29]:
for number in [1,2,3,4,5]:
    
    print(f'{number}:', end = '\t' )
    
    for number_2 in [1,2,3,4,5]:
        
        product = number * number_2
        
        print(f'{product}', end = '\t' )
              
    print('\n')

1:	1	2	3	4	5

2:	2	4	6	8	10

3:	3	6	9	12	15

4:	4	8	12	16	20

5:	5	10	15	20	25

In [47]:
#yay.

table = int(input("What is your size of multiplication table? "))

for number in range(table):
    number +=1
    print(f'{number}:', end = '\t' )
    
    for number_2 in range(table):
    
        number_2 +=1
        
        product = number * number_2
        
        print(f'{product}', end = '\t' )
              
    print('\n')

What is your size of multiplication table? 4
1:	1	2	3	4

2:	2	4	6	8

3:	3	6	9	12

4:	4	8	12	16

In [52]:
#yay.

table = int(input("What is your size of multiplication table? "))

for number in range(table):
    
    number +=1
    print(f'{number}:', end = '\t' )
    
    for number_2 in range(table):
    
        number_2 +=1
        
        product = number * number_2
        
        print(f'{product}', end = '\t' )
              
    print('\n')

What is your size of multiplication table? 12
1:	1	2	3	4	5	6	7	8	9	10	11	12

2:	2	4	6	8	10	12	14	16	18	20	22	24

3:	3	6	9	12	15	18	21	24	27	30	33	36

4:	4	8	12	16	20	24	28	32	36	40	44	48

5:	5	10	15	20	25	30	35	40	45	50	55	60

6:	6	12	18	24	30	36	42	48	54	60	66	72

7:	7	14	21	28	35	42	49	56	63	70	77	84

8:	8	16	24	32	40	48	56	64	72	80	88	96

9:	9	18	27	36	45	54	63	72	81	90	99	108

10:	10	20	30	40	50	60	70	80	90	100	110	120

11:	11	22	33	44	55	66	77	88	99	110	121	132

12:	12	24	36	48	60	72	84	96	108	120	132	144