<div style="text-align:left;font-size:2em"><span style="font-weight:bolder;font-size:1.25em">SP2273 | Learning Portfolio</span><br><br><span style="font-weight:bold;color:darkred">Fundamentals (Good)</span></div>

# What to expect in this chapter

# 1 There is more to if

In [9]:
count = 0

while count < 3:

    name = input('Who are you?')

    if (name.lower() == 'batman'): #trying to make it not case sensitive

        print('Hello Hero | Batman!')
        
        count += 1

    elif(name.upper() == 'ROBIN'): #trying to make it not case sensitive

        print('Hello Loser!')
        
        count += 1

    else: 

        print('Hello Trash!')
        
        count += 1

Who are you?3
Hello Trash!
Who are you?2
Hello Trash!
Who are you?robin
Hello Loser!

# 2 Asking questions

In [25]:
fruits = ['apple', 'banana', 'pineapple', 'jackfruit']
vegetables = ['celery', 'potato', 'broccoli', 'kale']

fruit = input('name a fruit')
vegetable = input('name a vegetable')

if (fruit in fruits) and (vegetable in vegetables) : #can't seem to work? results only produce average

    print('Smart boy')
    
elif (fruit in fruits) or (vegetable in vegetables):

    print('Average')
            
else: 

    print('Hello Trash!')

name a fruitapple
name a vegetablepotato
Average

In [26]:
'apples' > 'oranges' #This comparison works because English letters are internally represented as numbers. For example, 'a' is 97 and 'o' is 111.

False

In [28]:
'apples' <'oranges' #This comparison works because English letters are internally represented as numbers. For example, 'a' is 97 and 'o' is 111.

True

# 3 Remember

## 3.1 Asking Math questions

1. Equals?	==
1. Not equal? !=
1. Less than?	<
1. Greater than? >
1. Less than or equal?	<=
1. Greater than or equal? >=

# 4 Python stores information in different formats or types

In [30]:
#1. Integer: remove decimal points completely

x = int(1.234)
y = int(2.834)

print(x, type(x))
print(y, type(y))

1 <class 'int'>
2 <class 'int'>

In [42]:
#2. String: as an english word. 

x = str(12)
y = str(34)
z = x + y # When you define number as strings, they concatenate instead of sum

print(z,type(z))


a = 12 # By default,numbers are float or int
b = 34
c = a + b 

print(c,type(c))

m = '12' # When adding quotation marks, it reads as a string
print(m,type(m))

1234 <class 'str'>
46 <class 'int'>
12 <class 'str'>

In [36]:
#3. Float: as a decimal number

x = float(1.234)
print(x, type(x))

y = float(1)
print(y, type(y))

1.234 <class 'float'>
1.0 <class 'float'>

In [40]:
#4. Complex: As a complex number (complex). This will include an imaginary part of the number.

x = complex(1.234)
print(x, type(x))

y = complex(1.234 + 2j)
print(y, type(y))

(1.234+0j) <class 'complex'>
(1.234+2j) <class 'complex'>

# 5 Never compare floats directly

## 5.1 The Problem

In [45]:
a = 0.1
a3 = 0.3
print(a, type(a))
print(a3, type(a3))
a * 3 == a3

#In Python, as in many programming languages, floating-point numbers are stored using a fixed number of binary digits (bits). 
#This fixed precision can result in rounding errors when representing certain decimal numbers.
#The variable a is assigned the value 0.1, and a3 is assigned the value 0.3. However, when you multiply a by 3 (a * 3), the result is 0.30000000000000004, not exactly 0.3. 
#This small discrepancy is due to the limited precision of floating-point representation.

0.1 <class 'float'>
0.3 <class 'float'>

False

## 5.2 A solution

In [46]:
#In general, when comparing floating-point numbers for equality, it's a good practice to use a tolerance or a small epsilon value to account for potential rounding errors. 

epsilon = 1e-10
print(abs(a * 3 - a3) < epsilon) #abs is a built-in function that returns the absolute value of a number.

True

In [48]:
import numpy as np

np.isclose(a * 3, a3)

True

# 6 Combining English and variables

## 6.1 Structure of f-strings

In [50]:
# an f-string, also known as a formatted string literal, is a way to embed expressions inside string literals, using curly braces {} to enclose the expressions. 
#F-strings provide a concise and convenient syntax for string formatting.

name = input("What is name")
age = 30

# Using f-string to create a formatted string
message = f"Hello, my name is {name} and I am {age} years old."

print(message)

What is namealice
Hello, my name is alice and I am 30 years old.

In [56]:
name = "Alice"
age = 30

# If I don't use f-string, troublesome and ugly af
message = "Hello, my name is" + name + "and I am" + str(age) + "years old."

print(message)

Hello, my name isAliceand I am30years old.

In [59]:
x = 10
print(f"The value of {x} cubed is {x**3}!")

The value of 10 cubed is 1000!

In [52]:
import numpy as np  

count = 0
suck = 0

while count < 1:
    
    number = input('Which number do you think can be square-rooted nicely? ')

    try:
        number = float(number)
        root = np.sqrt(number)

        if root.is_integer():
    
            print(int(root))
            count += 1

            if suck < 1:
            
                print ("Good Job")
            
            else:
            
                print (f"Finally after {suck} tries") # Using f-string to create a formatted string reduces the need for concat (which was what i did previously)
                
        else:
            print("You suck at math bro try again")
            suck += 1

    except ValueError:
    
        print('Wtf I asked for a number right? Dumbass')
        suck += 1

Which number do you think can be square-rooted nicely? 3
You suck at math bro try again
Which number do you think can be square-rooted nicely? 12
You suck at math bro try again
Which number do you think can be square-rooted nicely? 81
9
Finally after 2 tries)

In [58]:
text = 'Bruce Wayne is Batman.'
print(f'{text:>90}')      # A block of 30 characters;
                          # aligned right
                          # why though

                                                                    Bruce Wayne is Batman.

In [66]:
#{X:.ZW} where X: number, Z: Number of decimal places, W: Specifies the type of variable (f:float, d:int,s:string)

print(f'The cube of pi to 10 decimal places is {np.pi**3:.10f}')

The cube of pi to 10 decimal places is 31.0062766803

In [65]:
#{X:>0Y.ZW} where X: string, : Number of decimal places, W: Specifies the type of variable (f:float, d:int,s:string)

print(f'{"apple":>30}')

                         apple

# 7 Escape sequences

In [78]:
#\n is break line; \t is tab
print('Line 1\n\tLine 2\n\t\tLine 3') 
print("Never gonna give you up\nNever gonna let you down") 
print("Attack\t on\ttitan")

Line 1
	Line 2
		Line 3
Never gonna give you up
Never gonna let you down
Attack	 on	titan

In [70]:
#was wondering if we could print " ' " right? Here you have it \'
print("Mary\'s Milk")

Mary's Milk

In [79]:
#\\ to print backslash
print("G\\eto")
print("Go\\jo")

G\eto
Go\jo

# 8 Computers read = from Right to Left!

In [85]:
y = 40

while (y < 60):
    
    print(y)
    y = y + 2

40
42
44
46
48
50
52
54
56
58

# 9 Shorter and Cleaner Code

In [91]:
y = 2

y *= 2

print (y)

y /= 2 

print (y)

y -= 2 

print (y)

4
2.0
0.0

# 10 Python can be a prima-donna.

# 11 Best Practices for Scientific Computing

# 12 Looking for help

## References

## Footnotes